<html>
    <head>
    	<title>There's no time like now</title>
    	 <link href="/style.css" rel="stylesheet" type="text/css"/>
       <link href="/favicon.png" rel="icon" type="image/x-icon" />
    	 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
       <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'> 
       <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>   
       <script type="text/javascript" src="textExcerpts.js"></script>
    </head>
    
    <body>
	    <div id="header" class="centered">
	    	<header class="main container-fluid"> 
	          <div id="navbar" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	          	<ul>
            	 <li><a href="/index"><img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/215520_10150215695701253_2755497_n.jpg" class="logo1"></a></li>
				 <li><a href="/about">Introducing Virginia</a></li>
            	 <li><a href="https://plus.google.com/106000999738277710017/posts">Google+</a></li>
            	 <li><a href="http://www.flickr.com/photos/virginialonso/">Flickr</a></li>
            	 <li><a href="http://www.twitter.com/virginialonso/">Twitter</a></li> 
				 <li><a href="http://www.slideshare.net/virginialonso">SlideShare</li>
            	 <li><a href="mailto:virginia.alonsonavarro@gmail.com?Subject=Hello!">Your Thoughts</a></li> 
	          </div>
	      </header>
	    </div>
		
      <div class="bg"></div>
    
    <div class="sectiontitle"></div>
    <h4>Who am I? What do I do? Why am I doing it? <em>And other questions I ask myself daily.</em></h4>
	<br>
    <img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/215520_10150215695701253_2755497_n.jpg" class="image">
    <p>
        <body>  
        <h3>Who I am</h3></span>     
          <ul>
            <li>My name is Virginia. I study Arts and Sciences at University College London. Not much more defines me I think, other than the notion that I am the result of the spectrum of things and people who move me.</li>
          </ul> 
		  <br>
        <h3>Where I'm from</h3>
          <ul>
            <li>I was born and raised in Madrid, although I've also called London and Beijing home.</li>
          </ul>
		  <br> 
        <h3>What I enjoy</h3>
          <ul>
            <li>I enjoy watching people <a href="http://www.flickr.com/virginialonso/">say cheese</a>. Or simply watching people.</li>
            <p>
            <li> A bunch of my Interests (because I like lists):</li>
            <li>Travelling | People Photography | Piano | Violin | Visual Arts </li>
            <li>E-Learning |  Book Illustration | Philanthropy | Chinese History & Culture</li>
            <li>Chinese Politics & Current Affairs |  Postmodern Literature | Scientific Skepticism</li>
          </ul> 
		  <br>
        <h3>Who I follow</h3>
          <ul>
            <li>I follow admirable little things like <a href="http://www.informationisbeautiful.net/">this</a>, <a href="http://www.thereconstructionists.com/">this</a> or <a href="http://www.humansofnewyork.com/">this</a>, <br>as well as the engaging posts of <a href="http://worrydream.com/">Bret Victor</a>, <a href="http://www.brainpickings.org/">Maria Popova</a>, <a href="http://daveerasmus.com/">Dave</a>, <a href="http://sethgodin.typepad.com/">Seth Godin</a>, <a href="http://carlgombrich.com/">Carl Gombrich</a>, and <a href="sidetracked.co.uk">this bunch of explorers</a>.</li>
          </ul>
		  <br>
	      <div align="center"> Go <a style="color: #FFBF00" HREF="/">back </a> </div>
	      <div class="bg"></div>
		  <br>

    
      <div class="bg"></div>
                
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39346194-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    </body>
</html>
