<html>
  <head>
  	<title>Virginia Alonso - About page</title>
  	<link href="/favicon.png" rel="icon" type="image/x-icon" />
  	 <link href="/style.css" rel="stylesheet" type="text/css"/>
  	 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  	 <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  </head>
        
    <body>

    <div align="center">    
     <div align="center">
    
    <p><a href="notimelikenow.html"><div><img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/215520_10150215695701253_2755497_n.jpg" class="logo1"></div>
    <font color="#424242">TNTL</font><font color="#FFBF00">N</font></a></p>
    
   
    
    <h1>ABOUT ME</h1>
    <img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/215520_10150215695701253_2755497_n.jpg" class="image">
    <p>
    <font color="#FFBF00">&diams;</font> I respond to the name of Virginia.</p>
    <p>
    <font color="#FFBF00">&diams;</font> I am the result of the spectrum of things and people who move me.</p>
    <p>
    <font color="#FFBF00">&diams;</font> I don't do long-term goals. </p>
    <p>
    <font color="#FFBF00">&diams;</font> I like when people <a style="color: #FFBF00" HREF="http://www.flickr.com/virginialonso/">say cheese</a> and do pretty things like <a style="color: #FFBF00" HREF="http://www.informationisbeautiful.net/">these</a>.</p>
    </a>
    </div>
    <br>
    <br>
    <hr>
    <div align="center"> ( Go <a style="color: #FFBF00" HREF="/">back </a>)</div>
    <div class="bg"></div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39346194-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    </body>
</html>
