<html>
  <head>
  	<title>Virginia Alonso - About page</title>
  	<link href="/favicon.png" rel="icon" type="image/x-icon" />
  	 <link href="/style.css" rel="stylesheet" type="text/css"/>
  	 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  	 <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  </head>
        
    <body>

    <div align="center">    
     <div align="center">
    <header class="main"> 
    <a HREF="/about">About Me</a> | <a HREF="mailto:virginia.alonsonavarro@gmail.com?Subject=Hello!"> Your Thoughts</a> | <font size="4">©</font> 2013 
    </header> 
    <p><a href="notimelikenow.html"><div><img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/215520_10150215695701253_2755497_n.jpg" class="logo1"></div>
    <font color="#424242">TNTL</font><font color="#FFBF00">N</font></a></p>
    
    <h1>ABOUT ME</h1>
    <img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/215520_10150215695701253_2755497_n.jpg" class="image">
    <p>
        <body>  
        <h3>Where I've Lived</h3>     
          <ul> 
            <li>Madrid</li>
            For the first seventeen years of my life, I called Madrid mi casa.
            <li>Beijing</li>
            For one year, I lived in the heart of Beijing although my heart was always in all the little places I visited across the country.      
            <li>London</li>
            <li>British School of Beijing</li>
            <li>Research for Givey.co.uk</li>
            <li>Volunteer at Rumbo al Sur, Morocco</li>
            <li>Volunteer at Missionaries of Charity, Cameroon</li>
                </ul>
                <pr>
            <li style="font-size:30px">Where I've Lived</li>
                <ol>
                    <li>Madrid</li>
                    <li>Beijing</li>
                    <li>London</li>
                </ol>
            <li style="font-size:30px">Inspiration</li>
                <ul>
                    <li>China</li>
                    <li>Illustration</li>
                        <ul>
                            <li>Quentin Blake</li>
                            <li>Sara Fanelli</li>
                        </ul>
                    <li>A journey</li>
                    <img src="http://estaticos01.cache.el-mundo.net/elmundo/imagenes/2010/08/18/madrid/1282127102_0.jpg" class="image">
                    <li>Writing</li>
                        <ul>
                            <li>George Orwell</li>
                            <li>Hermann Hesse</li>
                            <li>Carlos Ruiz Zafón</li>
                            <li>Haruki Murakami</li>
                            <li>Luis Cernuda</li>
                        </ul>
                    <li>Music</li>
                        <ul>
                            <li>Frederic Chopin</li>
                            <li>Eunaudi | Ritcher | Tiersen | Ólafur</li>
                            <li>Bombay Bicycle Club | Alt-J | Bon Iver | etc. </li>
                        </ul>
                </ul>
            <li style="font-size:20px">There's no time like Now</li>
                <ul><li>Check my personal blog <a href="virginialonso.com">here</a>.</li></ul>
        </ul>
        </body>
   
</html>
    
    
    <font color="#FFBF00">&diams;</font> I am the result of the spectrum of things and people who move me.</p>
    <p>
    <font color="#FFBF00">&diams;</font> I don't do long-term goals. </p>
    <p>
    <font color="#FFBF00">&diams;</font> I like when people <a style="color: #FFBF00" HREF="http://www.flickr.com/virginialonso/">say cheese</a> and do pretty things like <a style="color: #FFBF00" HREF="http://www.informationisbeautiful.net/">these</a>.</p>
    </a>
    </div>
    <br>
    <br>
    <hr>
    <div align="center"> ( Go <a style="color: #FFBF00" HREF="/">back </a>)</div>
    <div class="bg"></div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39346194-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    </body>
</html>
