<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>9*19 flowers</title>
  <style>
    body { font-family: sans-serif; margin: 1em auto; width: 960px; } #field { margin: 2em 0; } #time {text-align: center; font: 1em "Helvetica Neue"; } .number, .num, .desc {display: inline; padding-right:10px; font-size: 1.1em;} .num {font: 2em "Tangerine";} .desc { font: "Helvetica Neue"; font-weight: 100;} .number:last-child, .num:last-child, .desc:last-child {padding-right: 0;} .infinite {font: 3em caption;}
  </style>
</head>
<link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
<body>

  <div id="field"></div>
  <div id="time"></div>

  <script src="/d3.v2.min.js"></script>
  <script src="/functions.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // Check if you are her
    var bing = <% if (user)  { %>true<% } else { %>false<% } %>;

    var virginialonso = io.connect();
    virginialonso.habla = function(msg, data) { if (bing) this.emit(msg, data); }
    virginialonso.escucha = function(channel, fun) { if (!bing) this.on(channel, fun); }

    // Listen whether flowers have been touched
    virginialonso.escucha("handcrafted", function(data){
      d3.select(d3.selectAll("path")[0][data.i])
        .datum(data.d)
        .transition()
        .delay(10)
        .duration(1000)
        .attr('d', handcraft_flower)
        .style("stroke", "#ccc");
    })
    
  </script>

  <script>
  var line, field, flowers, w, h, d, n, dx, color, touching;
  
  color = false;
  w = 960;
  h = 600;
  d = 9;
  n = 19;
  dx = Math.min(w / (n + .5), h / (d + .5));
  w = dx * (n + .5);
  h = dx * (d + .5);

  // Preparing lines
  line =
    d3.svg.line()
    .interpolate("cardinal-closed")
    .x(function(d) { return d[0]; })
    .y(function(d) { return d[1]; })

  // Preparing the field
  field =
    d3.select("#field")
    .append("svg")
    .attr("width", w)
    .attr("height", h)
    .on('mouseover', function(d, i) {
      if (color === false) {
        d3.selectAll("path")
          .transition()
          .duration(1000)
          .style("stroke", function(d, i) {
            // Finding the most beautiful colors
            return random_color(120,250);
        });
        color = true;
      }
    })

  field
    .append("style")
    .text("text { font-family: sans-serif; }\nline, path { stroke: #000; fill: none; }")

  // Grow flowers
  flowers =
    field.selectAll("g")
    .data(d3.range(d * n).map(function(i) { return [1 + i % n, 1 + ~~(i / n)]; }))
    .enter()
    .append("g")
    .attr("transform", function(d, i) { return "translate(" + [d[0] * dx, d[1] * dx] + ")"; });

  flowers
    .append("path")
    .attr("d", handcraft_flower)
    .on("mouseover", start_touching)
    .on("mouseout", stop_touching)
    .style("stroke", "#000");

  function handcraft_flower(d) {
    var i, p, q, k, period;

    i = gcd.apply(null, d);
    p = Math.round(d[0] / i);
    q = Math.round(d[1] / i), k = p / q;
    period = (p & q & 1 ? 1 : 2) * Math.PI * q;

    return line(d3.range(0, period + Math.PI / 50, Math.PI / 50).map(function(theta) {
      var r = (dx - 5) * Math.cos(k * theta) / 2;
      return [r * Math.cos(theta), r * Math.sin(theta)];
    }));
  }
  
  function start_touching(d, i) {
    if (touching === i) return;
    touching = i;
    d[0] = random_int(1, 11);
    d[1] = random_int(1, 11);
    if (d[0] == d[1]) d[1]++; // deleting ugly flowers

    var flower = d3.select(this);
    flower
     .transition()
     .delay(10)
     .duration(1000)
     .attr("d", handcraft_flower)
     .style("stroke", "#ccc");
     
    virginialonso.habla("handcraft", {d:d,i:i});
  }
  
  function stop_touching(d, i) {
    // Please touch me again
  }
  
  function time() {
    var firstflower = 'March 15, 2013 21:42:04 GMT+0000',
        count = new CountUp('Handcrafting flowers since', firstflower, 'time');
  }

  </script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39346194-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>