<html ng-app="edo">
<head>
  <title>virginialonso - login</title>
</head>
<body>
  <div>

  </div>
  <form action="/login" method="post">
      <div class="formUsername">
          <input type="text" name="username" placeholder="Virginia?"/>
      </div>
      <div class="formPassword">
          <input type="password" name="password" placeholder="Password"/>
      </div>
      <div>
          <input type="submit" value="Log In"/>
      </div>
  </form>
</body>