<html ng-app="edo">
<head>
  <title>virginialonso - login</title>
</head>
<body>
  <div>

  </div>
  <form action="/login" method="post">
      <div class="formUsername">
          <input type="text" name="username" placeholder="Virginia?"/>
      </div>
      <div class="formPassword">
          <input type="password" name="password" placeholder="Password"/>
      </div>
      <div>
          <input type="submit" value="Log In"/>
      </div>
  </form>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39346194-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>