body {
	/**background: transparent url(/BG.png) no-repeat;
	background-attachment: fixed;**/
  background: #fff;
	color: rgb(41, 41, 41);
	font: 15px "Times", "Helvetica";
  font-weight: lighter;
  text-align: center;
	margin: 0 auto;
  margin-left: 13%;
  margin-right: 13%;	
	background-size: 100%;
}
a {
	text-decoration: none;
}
a:hover {
    color: #FFBF00;
}
.logo{
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  width: 200px;
  height: 200px;
  background: url(http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/215520_10150215695701253_2755497_n.jpg) -356px 0px;
  background-size: 300px 223px;
  border: solid 10px rgba(255, 191, 0, 0.85);
  opacity: 0.85; 
  margin: 0 auto;
  box-shadow: 1px 2px 4px rgba(24, 24, 24, 0.68);
}
hr {
  border-color: #cdcdcd;
  border-width: 6px;
  margin-top: 40px;
  z-index: 999;
}
header.main {
  font: 22px  "Times", "Amatic SC", "Coming Soon", "Helvetica Neue", "Helvetica";
  /*background-color: #FFBF00;
  border: 2px dashed #FFFFFF;*/
  width: 100%;
  opacity: 1;
  position: fixed;
  left: 0px;
  z-index: 9999;
  top: 0px;
  background-color: #fff;
}
#navbar li {
  font: 14px "Times", "Amatic SC", "Coming Soon", "Helvetica Neue", "Helvetica";
  display: inline-block;
  margin: 0 20px;
}

header.main a:hover {
  color: #f1c40f;
  text-shadow: none;
}
#tntln_logo {
    margin-top: 0px;
}
header.main a {
    color: #000;
    text-decoration: none;
}
.homepost .title {
	font: 24px "Times", "Amatic SC", "Coming Soon", "Helvetica Neue", "Helvetica";
  font-size: 35px;
	display: block;
	margin-top: 50px;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
#nav li a {
  color: #000;
}
li a.title:before,
li a.title:after {
  content: ;
  margin: 0 5px;
  color: #666;
}
#form {
  background: #fff;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
}
#title {
  font: 24px "Times", "Amatic SC", "Coming Soon", "Helvetica Neue", "Helvetica";
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  width: 80%;
  background: #eee;
  border: 0px;
  color: #FFBF00;
}
#post {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #efefef;
  padding: 10px;
  font-size: 14px;
  outline: none;
  resize: none;
}
a {
  color: #000;
}
#submit {
  margin-top: 15px;
}
.logo1 {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  border:solid 2px #FFBF00; 
  width:18px;
  height:18px;
  opacity:0.8;
  filter:alpha(opacity=40); 
}
.delete {
  color: red;
  cursor: pointer;
}

.preview {
  margin: 16px 0;
  text-transform: uppercase;
  font-size: 10px;
}
.bg {
  top: 0;
  right: 12%;
  left: 12%;
  position: fixed;
  width: 75%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0.9;
  outline: 10px solid #fff;
  outline-offset: 10px;
}
#content img, .image {
  max-width: 100%;
}
.image {
  border:solid 2px #FFBF00; 
  opacity:0.5;
  filter:alpha(opacity=40); 
}
@media (max-width: 897px) {
  .bg {
    display: none;
  }
  body {
    margin: 0 20%;
    background-size: auto 100%;
    background-position:  0 300px;
  }
}

header.active a {
  text-shadow: 0;
}

.homepost {
    border-bottom: 1px solid rgba(182, 182, 182, 0.25);
}

.tntl {
   font: 24px "Amatic SC", "Coming Soon", "Helvetica Neue", "Helvetica";
   color: #424242;
}

.n {
    font: 24px "Amatic SC", "Coming Soon", "Helvetica Neue", "Helvetica";
    color: #FFBF00;
}

.now {
    color: #FFBF00;
}

.maintitle {
  font-family: "Amatic SC", "Coming Soon", "Helvetica Neue", "Helvetica";
  font-size: 100px;
}
.amaticsmall {
  font-family: "Amatic SC", "Coming Soon", "Helvetica Neue", "Helvetica";
  font-size: 20px;
  margin-top: 0px;
}

.titlephoto {
  border-radius: 1000px;
  display: inline-block;
  opacity: 0.9;
  margin-top: 210px;
}

.titlephoto img {
  width: 510px;
  height: 500px;
  border-radius: 5000px 5000px 5000px 5000px;
}


.sectiontitle {
  font-size: 100px;
  margin-top: 100px;
}
.blogpost {
  margin-top: 100px;
}

#virginiatitle {
  font-family: "Times", "Helvetica";
  color: #000;
  font-size: 120px;
  margin-top: 25%;
}

#virginiasubtitle {
  font-family: "Times", "Helvetica";
  color: #cdcdcd;
  font-size: 18px;
  margin-bottom: 35%;
}

