body {
	background: transparent url(/BG.png) no-repeat;
	background-attachment: fixed;
	color: rgb(41, 41, 41);
	font: 24px "Amatic SC", "Coming Soon", "Helvetica Neue", "Helvetica";
	text-align: center;
	margin: 0 27%;	
	background-size: 100%;
}
a {
	text-decoration: none;
	text-shadow: 0px 1px 0px #000;
}
a:hover {
    color: white;
}
.logo{
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  width: 200px;
  height: 200px;
  background: url(http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/215520_10150215695701253_2755497_n.jpg) -356px 0px;
  background-size: 300px 223px;
  border: solid 10px rgba(255, 191, 0, 0.85);
  opacity: 0.85; 
  margin: 0 auto;
  box-shadow: 1px 2px 4px rgba(24, 24, 24, 0.68);
}
hr {
  border-color: #A1A1A1;
  border-width: 1px;
}
header.main {
  background-color: #FFBF00;
  border: 2px dashed #FFFFFF;
  width: 100%;
  height: 30px;
  opacity: 0.6;
  position: fixed;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 2px;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  background-position: initial initial;
  background-repeat: initial initial;
  color:black;
}
#navbar li {
  display: inline; 
  margin: 20px 20px 20px 20px;
}
header.main a:hover {
  color: #FFFFFF;
  text-shadow: none;
}
#tntln_logo {
    margin-top: 80px;
}
.main a {
    color: #000000;
    text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
#nav li a {
  color: #FFBF00;
}
li a.title:before,
li a.title:after {
  content: "·";
  margin: 0 5px;
  color: #666;
}
#form {
  background: #fff;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
}
#title {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  width: 80%;
  background: #eee;
  border: 0px;
  color: #FFBF00;
}
#post {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #efefef;
  padding: 10px;
  font-size: 14px;
  outline: none;
  resize: none;
}
a {
  color: #FFBF00;
}
#submit {
  margin-top: 15px;
}
.logo1 {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  border:solid 2px #FFBF00; 
  width:20px;
  height:20px;
  opacity:0.8;
  filter:alpha(opacity=40); 
}
.delete {
  color: red;
  cursor: pointer;
}

.preview {
  margin: 16px 0;
  text-transform: uppercase;
  font-size: 10px;
}
.bg {
  top: 0;
  right: 25%;
  position: fixed;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0.45;
  outline: 10px solid #fff;
  outline-offset: 10px;
}
#content img, .image {
  max-width: 100%;
}
.image {
  border:solid 2px #FFBF00; 
  opacity:0.5;
  filter:alpha(opacity=40); 
}
@media (max-width: 1000px) {
  .bg {
    display: none;
  }
  body {
    margin: 0 20%;
  }
}

header.active a {
  text-shadow: 0;
}

.homepost {
    border-bottom: 1px solid #dfdfdf;
}

.tntl {
   color: #424242;
}
.n {
    color: #FFBF00;
}